/* 

write your code here

*/

/* task 1 */
@media print {
.hidden {
    display: none;
}
.flex-item img{
    width: 190px;
    height: 190px;
}
.first-task{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.tm-team-description-container.flex-item{
    width: 350px;
}
.tm-banner{
    padding: 0;
    margin: 0;
}
h2.tm-section-title{
    color: rgb(38, 38, 190);
}
.tm-banner{
    width: 500px;
}
}
.tm-section-title-box{
    transition-property: color, background-color;
}
.tm-section-title-box:hover{
    color:white;
    background-color: lightskyblue;
}
p::first-letter{
    color:lightskyblue;
    font-size: 30px;
}
/* shadows */
.tm-sidebar{
    box-shadow: 0px 2px 7px grey; 
}
#home{
    box-shadow: 0px 0px 7px 2px grey;
    background-color: #eeeded;
}
.tm-banner{
    border: grey solid 1px;
    background-clip: content-box;
    background-color: white;
}
section{
    box-shadow: 0px 0px 7px 2px grey;
}
/* redesigning 1 section according to mockup */
.fix-maket{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 5-6-7 */
.active .tm-section-title{
    color: gainsboro;
    letter-spacing: 5px;
}
h2+p{
    font-style: italic;
}
p{
    line-height: 200%;
    text-indent: 30px;
}
#home p{
    line-height: inherit;
    text-indent: inherit;
}
/* we are section */

.heading.tm-content-box a:visited{
    text-decoration-color: #666;
    color: #666;
}
.heading.tm-content-box a:hover{
    text-decoration: none;
    color:#666;
}
.heading.tm-content-box a{
    color: #666;
    text-decoration: underline;
    text-decoration-color: white;
}
.sup{
    display: inline-block;
    padding: 0;
    margin-left: -4px;
    font-size: 11px;
    color:red;
    vertical-align: super;
}
 /* task 9 */
 .boxes.gallery-container p{
    line-height: inherit;
    text-indent: inherit;
 }
 .boxes.gallery-container p::first-letter{
    color:#666;
    font-size: 24px;
 }
 .box.box-work{
    padding: 10px;
 }
 .no-bg{
    background-color: #f5f5f5;
 }
/* task 10-11 */
.mandatory-field::after {
    content:" *"; 
    color: #e32;
    font-size: x-large;
}
.move-button{
    display: flex;
    justify-content: end;
}
.submit-btn{
    color: lightskyblue;
    background-color: white;
    border-color: rgb(135, 206, 250);
    padding: 10px 40px;
    margin-top: -7px;
    border-radius: 0;
    transition-property: color, background-color, border-color;
    letter-spacing: 0.05em;
}
.submit-btn:hover{
    background-color: lightskyblue;
    color:rgb(240, 239, 239);
    border-color: rgb(144, 210, 252);
}
/* task 12 */
.tm-main-nav a{
    transition-property: background-color;
}
.tm-main-nav a:hover{
    background-color: rgb(238, 238, 238);
}